@media screen and (min-width: 418px) {
    header span {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 700;
        padding-right: 1rem;
    }

    .dark img {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 620px) {
    /************************* HEADER ******************************/
    .hambtn {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 44px 1fr 1fr 44px;
        align-items: end;
    }

    header span {
        margin: 0 0 10px 5px;
    }

    .main-nav {
        display: block;
        background-color: inherit;
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .dark img {
        grid-column: 4/5;
        margin-left: 10px;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        justify-content: end;
        align-items: flex-end;
    }

    .main-nav li {
        padding: 0;
    }

    /************************* DIRECTORY MAIN ******************************/
    .directory h1 {
        padding: 0 0 1rem .5rem;
    }

    .directory .view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .directory .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        grid-template-columns: .5fr .5fr .5fr 1fr;
        gap: 1rem;
        padding: .5rem 0 1rem 3px;
    }

    .directory .list h2 {
        font-size: small;
        margin-bottom: 0;
    }

    .directory .list p {
        font-size: small;
    }

    /************************* FOOTER ******************************/
    footer {
        display: flex;
        justify-content: space-between;

    }

    /************************* HOME MAIN ******************************/
    .home main {
        display: grid;
        grid-template-columns: 2fr 1fr; 
        gap: 1rem;
    }

    .hero-img {
        grid-column: 1 / -1;
    }

    .hero-img h1 {
        font-size: 2.5rem;
        width: 70%;
        transform: translate(-50%, -60%);
    }

    .hero-img a {
        bottom: 30px;
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }

    .hero-img a:hover {
        background-color: #003674;
        color: white;
    }

    .events {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
    }

    .events h2 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .weather {
        grid-column: 2/3;
        /* align-self: start; */
    }

    .member-cnt {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .member-cnt h2 {
        grid-column: 1/4;
    }

    .member-cnt img {
        border-radius: 50px;
    }
}

@media screen and (min-width: 870px) {
    .directory .view {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
    }
}