@media screen and (min-width: 418px) {
    header span {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 700;
        padding-right: 1rem;
    }

    .dark img {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 500px) {
    /************************* HEADER ******************************/
    .hambtn {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 44px 1fr 1fr 44px;
        align-items: end;
    }

    header span {
        margin: 0 0 10px 5px;
    }

    .main-nav {
        display: block;
        background-color: inherit;
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .dark img {
        grid-column: 4/5;
        margin-left: 10px;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        justify-content: end;
        align-items: flex-end;
    }

    .main-nav li {
        padding: 0;
    }

    /************************* MAIN ******************************/
    .directory h1 {
        padding: 0 0 1rem .5rem;
    }

    .directory .view {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .directory .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        grid-template-columns: .5fr .5fr .5fr 1fr;
        gap: 1rem;
        padding: .5rem 0 1rem 3px;
    }

    .directory .list h2 {
        font-size: small;
        margin-bottom: 0;
    }

    .directory .list p {
        font-size: small;
    }

    /************************* FOOTER ******************************/
    footer {
        display: flex;
        justify-content: space-between;

    }
}


